<!DOCTYPE html>
<html>
  <head>
    <title>Disney Cinema</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">   
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.user = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>"
        };
      </script>
    <% end %>

    <script type="text/javascript">
      window.brands = "<%= image_url('brand-logos.png') %>";
      window.splash1 = "<%= image_url('splash1.png') %>";
      window.splash2 = "<%= image_url('splash2.png') %>";
      window.splash3 = "<%= image_url('splash3.png') %>";
      window.logo = "<%= image_url('logo.png') %>";

      window.disneyButton = "<%= image_url('disney-button.png') %>";
      window.marvelButton = "<%= image_url('marvel-button.png') %>";
      window.pixarButton = "<%= image_url('pixar-button.png') %>";
      window.swButton = "<%= image_url('star-wars-button.png') %>";
      window.natButton = "<%= image_url('nat-button.png') %>";

      window.placeholder = "<%= image_url('placeholder.jpg') %>";
      window.surprised = "<%= image_url('mickey-surprised.png') %>"

      window.loader = "<%= image_url('loader.png') %>"
    </script>

    <style>
      ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
